doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='//fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css')
    if page == "Admin-Stats"
      //link(href='/css/lib/bootstrap/bootstrap.min.css', rel='stylesheet', type='text/css')
      //link(href='/css/lib/bootstrap/bootstrap-flex.min.css', rel='stylesheet', type='text/css')
      //link(href='/css/lib/bootstrap/bootstrap-grid.min.css', rel='stylesheet', type='text/css')
      //link(href='/css/lib/bootstrap/bootstrap-reboot.min.css', rel='stylesheet', type='text/css') 
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    if page == "A-Page" || page == "Test-Lang"
      link(href='/css/highlight.default.css', rel='stylesheet', type='text/css')
    link(href='/css/flag-icon.min.css', rel='stylesheet', type='text/css')
    if page == "Search"
      link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    if page == "Admin-Stats"
      link(href='/css/stats.css', rel='stylesheet', type='text/css')
  body
    include ../includes/header
    block content

    //script(src='/socket.io/socket.io.js')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/cookie.min.js')
    script(src='/js/main.js')
    script(src='/js/lang.js')
    if page == "User-List"
      script(src='/js/listUsers.js')
    if page == "Admin-Stats"
      //script(src='/js/lib/isotope.min.js')
      script(src='/js/lib/masonry.min.js')
      script(src='/js/stats.js')
    script(src='/js/lib/pace.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83593959-1', 'auto');
      ga('send', 'pageview');