extends admin_layout

block content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          .panel
            .panel-body
              .container-fluid
                #error.hidden.alert.alert-danger(role='alert')
              h3 Admin Actions
              if ensurePerm['read'](user)
                p Congrats on Read
              if ensurePerm['list'](user)
                a(href='/admin/users') List of Users
              if ensurePerm['write'](user)
                p Congrats on Write
              if ensurePerm['execute'](user)
                p Congrats on Execute