extends admin_layout

block content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
          .panel
            .panel-body
              .container-fluid
                #error.hidden.alert.alert-danger(role='alert')
              h3 Admin Actions
              if ensurePerm['read'](user)
                h5.adminHeader [Read Permissions]
                a(href='#').link Statistics
              if ensurePerm['list'](user)
                h5.adminHeader [List Permissions]
                a(href='/admin/users').link List of Users
                a(href='#').link Search Users
              if ensurePerm['write'](user)
                h5.adminHeader [Write Permissions]
                a(href='#').link Create User
                a(href='#').link Sequence Submission Queue
              if ensurePerm['execute'](user)
                h5.adminHeader [Execute Permissions]
                a(href='#').link Edit Groups