style.
  body {
    margin: 0;
  }
iframe(src=url, id="iframe" style="border: 0; width: 100%; height: 100%") Your browser doesn't support iFrames.
script(src="/js/lib/jquery.min.js")
script.
  window.name= "https://oeis.org"
  $('#iframe').load(function(){
    console.log('frame has (re)loaded')
   	console.log(document.getElementById('iframe').contentWindow.location.href)
  })