style.
  body {
    margin: 0;
  }
iframe(src=url, id="iframe" style="border: 0; width: 100%; height: 100%", onLoad="updateURL(this.contentWindow.location)") Your browser doesn't support iFrames.
script(src="/js/lib/jquery.min.js")
script.
  $('#iframe').load(function(){
    alert('frame has (re)loaded');
  });