doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='//fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css') 
    if page == "A-Page" || page == "Test-Lang"
      link(href='/css/highlight.default.css', rel='stylesheet', type='text/css')
    link(href='/css/flag-icon.min.css', rel='stylesheet', type='text/css')
    if page == "Search" || page == "A-Page"
      link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    if page == "A-Page"
      link(href='/css/toastr.min.css', rel='stylesheet', tpye='text/css')
    //if page == "Edit Sequence"
      link(href='/css/simplemde.min.css', rel='stylesheet', type='text/css')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css')
    //link(rel='stylesheet', type='text/css', href='/css/simplebar.css')
  body
    include includes/header
    block content
      
    // script(src='/socket.io/socket.io.js')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    if page == "A-Page" || page == "Test-Lang"
      script(src='/js/lib/highlight.min.js')
    if page == "A-Page"
      script(src='/js/lib/toastr.min.js')
      script(src='/js/id.js')
    if page != "Welcome" && page != "Edit Sequence"
      script(src='/js/main.js')
    if page == "Test-Lang"
      script(src='/js/testLang.js')
    if page == "Edit Sequence"
      //script(src='/js/lib/simplemde.min.js')
      script(src='/js/edit.js')
    script(src='/js/lib/pace.min.js')
    script(src='/js/lib/cookie-consent.min.js')
    //script(src='/js/lib/simplebar.js')
    script(src='/js/cookie.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83593959-1', 'auto');
      ga('send', 'pageview');