extends layout

block content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
          .panel
            .panel-body
              .container-fluid
                #error.hidden.alert.alert-danger(role='alert')
              h3 Search the OEIS Database
              br
              .form-group
                input.form-control(type='text', id='sequence', autofocus=true, placeholder=sequence)
              a.btn.btn-success(href='#', role='button', onclick='lookupSequence()') 
                span#sequence-loading.fa.fa-spinner.fa-spin(style='display:none;')
                span#loading-space(style='display:none;width:8px;')
                span#lookup-sequence Lookup Sequence
              span(style='width: 10px; display: inline-block;')
              a.btn.btn-default(href='#', role='button', onclick='randomSequence()' style='float: right;') Random Sequence