extends layout

block content
    .row
      .col-sm-3
      .col-sm-6
        .panel
          .panel-body
            .container-fluid
              #error.hidden.alert.alert-danger(role='alert')
            h3 Search the OEIS Database
            br
            .form-group
              input.form-control(type='text', id='sequence', autofocus=true)
            a.btn.btn-success(href='#', role='button', onclick='lookupSequence()') Lookup Sequence
            span(style='width: 10px; display: inline-block;')
            a.btn.btn-default(href='#', role='button', onclick='randomSequence()' style='float: right;') Random Sequence
      .col-sm-3
