extends layout

block content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          .panel
            .panel-body
              .container-fluid
                #error.hidden.alert.alert-danger(role='alert')
              h3 Welcome to OEIS Lookup
              h4 Aims of this website
              p OEIS Lookup is a service that uses data from 
                a(href='http://oeis.org') OEIS.org 
                | to provide users with the ability to search through hundreds of thousands of sequences of numbers in order to help solve mathematical equations, questions such as "what comes next?" and find out more about mathematial sequences.
              p We try to be better than the original website in three specific areas:
                ul
                  li Providing a better user experience by simplifying the design, whilst making it more responsive so it can be viewed on mobiles and tablets.
                  li Making the website quicker to load and require less bandwidth by using modern compression and transfer techniques, as well as upstream caching on static pages.
                  li Improving the administrative tools available to moderators so that they can work more efficiently.