extends layout

block content
    .row
      .col-sm-3
      .col-sm-6
        .panel
          .panel-body
            .container-fluid
              if messages.error
                .alert.alert-danger(role='alert')
                  for error in messages.error
                    div= error.msg
              if messages.success
                .alert.alert-success(role='alert')
                  for success in messages.success
                    div= success.msg
              if messages.info
                .alert.alert-info(role='alert')
                  for info in messages.info
                    div= info.msg
            h3 Search the OEIS Database
            br
            .form-group
              input.form-control(type='text', id='sequence', autofocus=true)
            a.btn.btn-default(href='#', role='button', onclick='lookupSequence()') Lookup
      .col-sm-3
